* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #38bdf8;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.btn {
    background: #38bdf8;
    padding: 10px 18px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
}

.btn.big {
    padding: 14px 28px;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #cbd5e1;
}

.courses {
    padding: 80px 10%;
    text-align: center;
}

.courses h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.course-card {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-8px);
    background: #334155;
}

.course-card h3 {
    margin-bottom: 15px;
}

.course-card p {
    margin-bottom: 20px;
    color: #94a3b8;
}

.course-card button {
    background: #38bdf8;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.about {
    padding: 80px 10%;
    background: #0f172a;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.about ul {
    list-style: none;
    color: #cbd5e1;
    font-size: 18px;
}

.about li {
    margin-bottom: 10px;
}

.buy {
    text-align: center;
    padding: 80px 20px;
}

.buy h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.price {
    font-size: 28px;
    margin-bottom: 30px;
    color: #38bdf8;
}

footer {
    text-align: center;
    padding: 30px;
    background: #020617;
    color: #64748b;
}

.lesson-list {
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-top:20px;
}

.lesson-card {
  background:#2a2c36;
  padding:14px 18px;
  border-radius:10px;
  cursor:pointer;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition:0.2s;
  border:2px solid transparent;
}

.lesson-card:hover {
  transform:translateX(5px);
  border-color:#00c853;
}

.lesson-card.completed {
  border-color:#00e676;
  background:#1b5e20;
}

.lesson-card .status {
  font-size:14px;
  color:#00e676;
  font-weight:bold;
}

.lesson-card.locked {
  opacity:0.6;
  cursor:not-allowed;
}
